@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "OtomanopeeOne";
    font-weight: 600;
    src: url(/fonts/OtomanopeeOne-Regular.ttf) format("truetype");
    font-display: swap;
}

body {
    @apply cursor-default bg-bg-color font-otomanopee-one;
}

p,
input {
    @apply cursor-text;
}

a,
button {
    @apply cursor-pointer;
}

@layer components {
    .menuItem {
        @apply block cursor-pointer px-4 py-2 text-sm text-gray-300 hover:text-white;
    }

    .bodyBtn {
        @apply transform rounded-lg p-5 px-10 text-lg transition duration-100 ease-out hover:scale-125;
    }

    .guildBodyContainer {
        @apply mt-[30px] px-2 md:px-4 lg:px-6 xl:px-10;
    }

    .guildBodyInput {
        @apply w-[350px] rounded-lg border-[5px] border-gray-300 bg-bg-color p-4 outline-none sm:w-[500px];
    }

    .pluginModifyButton {
        @apply rounded-xl border-[2px] px-6 py-3 text-white transition duration-100 ease-out hover:opacity-80;
    }
}
