@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "OtomanopeeOne";
    font-weight: 600;
    src: url(/fonts/OtomanopeeOne-Regular.ttf) format("truetype");
    font-display: swap;
}

body {
    @apply cursor-default bg-bg-color font-otomanopee-one;
}

p,
input {
    @apply cursor-text;
}

a,
button {
    @apply cursor-pointer;
}

@layer components {
    .menuItem {
        @apply block px-4 py-2 text-sm cursor-pointer text-gray-300 hover:text-white;
    }

    .bodyBtn {
        @apply rounded-lg text-lg p-5 px-10 hover:scale-125 transition transform duration-100 ease-out;
    }
}
